player-connection-mode=Listen
player-connection-guid=4152636981
player-connection-debug=1
player-connection-project-name=Net
player-connection-ip=192.168.0.103
player-connection-ip=26.140.228.187
player-connection-ip=10.66.66.162
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5352d1a337a447e2b6600ae5f0bb2453
